<!DOCTYPE html>
<html>
  <head>
    <title>Video Previewer></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Video Previewer</h1>
    <% if (loading) { %>
      We are loading data...
    <% } %>
  </body>
</html>
